@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--color-white: #fff;
		--color-black: #000;
		--color-dark: #1e1f24;
		--bg-body: #fff;
	}

	.dark {
		--bg-body: #09090A;
		--color-white: #000;
		--color-black: #e0e0e0;
		--color-dark: #dbdbdb;
	}
}

@font-face {
	font-family: 'Wrong Free';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/WrongFreeTrial.ttf') format('truetype');
}

.font-wrong-free {
	font-family: 'Wrong Free', sans-serif;
}

body {
	height: 100%;
	background-color: var(--bg-body);
}

.advice {
	background-color: rgb(28, 28, 32);
	color: white;
	padding: 1em;
}

.animate-line {
	background-size: 200% 100%;
	background-position-x: 100%;
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
	font-size: 20px;
}


.animate-line {
	background-image: linear-gradient(
		to right,
		rgb(255, 255, 255) 50%,
		rgb(37, 37, 37) 50%
	);
}

.text-extreme-emotion,
.text-extreme-emotion > div {
	background-image: linear-gradient(
		to right,
		#ff5a5a 50%,
		rgb(37, 37, 37) 50%
	);
	background-clip: text;
}

.quote {
	padding: 2em 3em;
	position: relative;
	font-style: italic;
	position: relative;
}

.quote::before,
.quote::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
}

.quote::before {
	height: 100%;
	width: 3px;
	background-color: #38ff9b;
}

/* create custom scrollbar */
::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: var(--color-white);
}

::-webkit-scrollbar-thumb {
	background: var(--color-dark);
}
