@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100%;
  background-color: var(--color-white);
}

q {
  font-family: monospace;
  background-color: #000;
  padding: 1em;
  display: block;
  color: #cecece;
  margin: 1em 0;
  border-radius: 1em;
}

.advice {
  background-color: rgb(28, 28, 32);
  color: white;
  padding: 1em;
}

/* create custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--color-white);
}

::-webkit-scrollbar-thumb {
  background: var(--color-dark);
}

@layer base {
  :root {
    --color-white: #fff;
    --color-black: #000;
    --color-dark: #1e1f24;
  }

  .dark {
    --color-white: #000;
    --color-black: #e0e0e0;
    --color-dark: #dbdbdb;
  }
}